.env
/api/config.php
.vscode/
.idea/
/testlocal
/page/starwars/sound-and-picture/*
/page/starwars/Audio_avec_leur_image/*
/page/chronique/Audio_avec_leur_image/*
/page/chronique/sound-and-picture/*
generate_sitemap.php
/page/article/*
/page/comments/*